{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ie >=9",
            "last 2 version",
            "> 5%",
            "not dead"
          ]
        },
        "useBuiltIns":"usage"
      }
    ], 
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  },
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-transform-runtime",
    ["import", {  "libraryName": "antd", "libraryDirectory": "lib", "style": "css"}, "antd"]
  ]
}